@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.shdw{
  border-color: white;
  border-width: 4px;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.25);
	transition: 1s all;
}

.xshdw{
  background-color: #bc69ff;
  color: #ffffff;
  border-color: #ffffff;
  border-width: 4px;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.25);
	transition: 1s all;
}
.shdw:hover{
  border-color: white;
  border-width: 4px;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.33);
	transition: 1s all;
}

body{
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
svg {
  height: 48px;
  
}
.activesvg{
  fill: #000000;
}

.abc{

  @apply my-10;


}
.def{
  display:flex;
  padding:1rem;

}
.xyz{
  display: flex;
  flex-direction: column;

  @apply p-2;
 
}
.jazba{
  @apply m-2 w-full px-4
}
.lmn{

  padding-right:1rem;
  margin:1rem;
}

input, textarea, select{
  @apply border-2 border-gray-300 rounded-md px-1 mb-1 text-black;
}
label{
  @apply text-gray-600
}
input:hover , textarea:hover, select:hover{
  border-color:  rgb(108, 108, 233);
  @apply border-2;
}
label{
  @apply px-1 mt-1
}
.btn-primary {
  background-color: #bc69ff;
  border-radius: 15px;
  border-color: white;
  border-width: 4px;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.25);
	transition: 1s all;
  

  @apply px-1 mt-2 text-white px-4 p-2 rounded-2xl
}
.btn-primary:hover {
  border-radius: 15px;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.33);
	transition: 0.5s all;
  transform: scale(1.1); 
  

  @apply px-1 mt-2 text-white px-4 p-2 rounded-lg 
}

.btn-primary:active {
  border-radius: 15px;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.33);
	transition: 0.5s all;
  transform: scale(0.9); 
  

  @apply px-1 mt-2 text-white px-4 p-2 rounded-lg 
}
.rlink{
  @apply text-xl px-4 py-1;
}
.xlink{
  @apply text-xl px-4 py-1;
}


.plink{
  @apply rounded-full w-16 h-16 border-4 cborder-blue-900 p-1
}
.plink:hover {
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.33);
	transition: 0.5s all;
  transition: 0.5s all;
  transform: scale(1.1); 
 
}
.plink:active {
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.33);
	transition: 0.5s all;
  transition: 0.5s all;
  transform: scale(0.95); 
 
}
.rlink:active {
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
	transition: 0.5s all;
  transition: 0.5s all;
  transform: scale(0.9); 

 
}



.rlink:hover {
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.33);
	transition: 0.5s all;
  @apply rounded-lg

 
}
.rlink:active {
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
	transition: 0.5s all;
  @apply rounded-lg

 
}

.bs{
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.33);
  border-collapse:separate;
  border-radius:6px;
  @apply border-2 text-xl mx-2 my-4 px-2 py-2 rounded-xl;
}


table{
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.33);
  border-collapse:separate;
  border-radius:6px;
  @apply border-2 w-full m-2 my-4 p-2 rounded-xl;
}
thead{
  background-color:#ffffff;
  @apply text-gray-700;
}
tbody{
  border-collapse:separate;
}
tr{
  border-collapse:separate;
}
td{ border-collapse:separate;}
.cborder-blue-900{
  border-color:  rgb(108, 108, 233);
  @apply text-xl
}

.xborder-blue-900{
  border-color:  rgb(108, 108, 233);
  @apply text-xl
}
.eborder-blue-900{
  border-color:  rgb(108, 108, 233);
  @apply text-xl
}
.dborder-blue-900{
  
  @apply text-base border-gray-300;
}
.dborder-blue-900:hover{
  border-color: rgb(108, 108, 233);
  @apply text-base;
}

.cbg-blue-900{
  background-color: rgb(108, 108, 233);
}
.cbg-red-900{
  background-color: #e6445f;
}
.cbg-green-900{
  background-color: #bc69ff;
}
.cbg-white{
  background-color: rgb(255, 255, 255);
}
.ctext-blue-900{
  color: #6459DD;
}
.btn-prim{
  @apply bg-blue-900 text-white rounded-lg px-2;
}
.clink:hover{
  transition: 0.5s all;
  transform: scale(1.1); 
}
.clink:active{
  transition: 0.5s all;
  transform: scale(0.9); 
}
.sunna{
  @apply flex min-h-screen cbg-blue-900 p-8 
}
.hmq{
  @apply hidden
}
.newhid{

}
.widthhh{

}
.meow{
  @apply flex items-center justify-center
}
.logosz{
  @apply size-28
}
.medown{
  @apply flex justify-between items-center font-sans text-lg 
}
.Xnewhidden{
  
}
.nHidden{
  @apply hidden font-bold text-xl
}
.catmq{
  @apply lg:text-2xl md:text-xl sm:text-lg font-bold p-1
}
.onlywide{
  @apply w-1/3
}
.onlywide2{
  @apply w-1/6
}
.lola{
  @apply flex;
}
.cola{
  
}
.cakshar{
  @apply text-lg
}
.flipflop{
  @apply flex shdw m-2 p-4
}
.algo{
  @apply w-4/6 m-4 p-4
}
.duniya{
  @apply cbg-blue-900 w-screen h-screen flex items-center justify-around
}
@media screen and (min-width: 1080px){
  .widthhh{
      @apply w-1/4
  }
  
  
}

@media screen and (max-width: 1370px){
  .algo{
    @apply w-full m-2 p-1
  }
  .flipflop{
    @apply flex flex-col shdw m-2 p-4
  }
  .cakshar{
    @apply text-sm
  }
  .lola{
    @apply flex flex-col items-center;
  }
  .cola{
    @apply text-center
  }
  .onlywide2{
    @apply w-full justify-start px-2
  }
  .Xnewhidden{
    @apply hidden
  }
  .onlywide{
    @apply w-full justify-start px-2 text-sm
  }
  .medown{
    @apply flex flex-col  items-start font-sans text-lg 
  }
  .nHidden{
    @apply flex mx-4 font-bold text-lg
  }
  
}
.allom{
  
}
.gobble{
  @apply size-36
}
.night{
  @apply font-bold ctext-blue-900 text-3xl font-sans
}
.aallo{
  @apply bg-white rounded-2xl shadow-xl m-4 w-96 h-64 flex flex-col items-center justify-center
}
@media screen and (min-width: 900px) and (max-width: 1080px){
  .allom{
    @apply hidden
  }
  .duniya{
    @apply cbg-blue-900 w-screen min-h-screen flex flex-col items-center justify-around
  }
  .medown{
    @apply flex flex-col  items-start font-sans text-lg 
  }
  .logosz{
    @apply size-20
  }
  .sunna{
    @apply flex flex-col min-h-screen items-center cbg-blue-900 p-2 
  }
.xyz{
  display: flex;
  flex-direction: row;

  @apply p-2 justify-center;
 
}
.meow{
  @apply flex items-center justify-center
}
.jazba{
 
  
}
.abc{

  @apply my-2;


}
}
@media screen and (max-width: 899px){
  .aallo{
    @apply bg-white rounded-2xl shadow-xl m-2 w-72 h-56 flex flex-col items-center justify-center
  }
  .night{
    @apply font-bold ctext-blue-900 text-xl font-sans
  }
  .gobble{
    @apply size-20
  }
  .allom{
    @apply hidden
  }
  .duniya{
    @apply cbg-blue-900 w-screen min-h-screen flex flex-col items-center justify-around
  }
  .bs{
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.33);
    border-collapse:separate;
    border-radius:6px;
    @apply  text-base mx-1 my-2 px-1 py-1 rounded-xl;
  }
  .cborder-blue-900{
    border-color:  rgb(108, 108, 233);
    @apply text-lg
  }
  .meow{
    @apply flex items-center justify-between px-4
  }
  .logosz{
    @apply size-16
  }
  .rlink{
    @apply text-lg px-4 py-1;
  }
  .sunna{
    @apply flex flex-col min-h-screen items-center cbg-blue-900 p-2 
  }
.xyz{
  display: flex;
  flex-direction: column;

  @apply p-2 items-center;
 
}
.jazba{
 
  
}
.abc{

  @apply my-2;


}
.hmq{
  @apply flex
}
.newhid{
  @apply hidden
}
}
